<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="favicon">
    <meta name="description" content="Agencia de viajes en Pedregal especializada en experiencias y turismo premium.">

    <!-- Favicon principal SVG -->
    <link rel="icon"
          type="image/svg+xml"
          th:href="@{/img/favicon.svg}">

    <!-- Fallback PNG -->
    <link rel="icon"
          type="image/png"
          sizes="96x96"
          th:href="@{/img/logo-niagara-nav.png}">

    <!-- Apple -->
    <link rel="apple-touch-icon"
          sizes="180x180"
          th:href="@{/img/logo-niagara-nav.png}">

    <!-- Microsoft -->
    <meta name="msapplication-TileImage"
          th:content="@{/img/logo-niagara-nav.png}">

    <!-- Color del navegador móvil -->
    <meta name="theme-color"
          content="#ffffff">

  </th:block>
</html>